<form action="<%= @section.url %>/update" method="POST" style="min-height:800px;">

  <h6>Section Name</h6>
  <p>This is how the section will appear throughout the site.</p>
  <input type="text" name="section[name]" placeholder="Name of Section" value="<%= @section.name %>" />

  <h6>Section Slug</h6>
  <p>No spaces, no capitals, this will determine the url for the section</p>
  <input type="text" name="section[slug]" placeholder="(Optional) enter a slug for the url, like the name only without spaces." value="<%= @section.slug %>"/>

  <h6>Students</h6>
  <p>If you need to change the students in your section, please get in touch with Steve Klise sk3453@nyu.edu.</p>

  <h6>Students</h6>
  <p>Click in the box and start typing out students' names. There is autocomplete.</p>
  <select class="chzn-select" multiple data-placeholder="Add Students" name="students[]">
    <% @students.each do |student| %>
    <option value="<%= student.id %>"><%= student %></option>
    <% end %>
  </select>

  <input type="submit">
</form>