<div class='col-12'>
  <h1 class="page-title">
    <a href="/sections">Sections</a>: <%= @section.name %>
  </h1>
  <% if @current_user.advisor? %>
  <p><a href="<%= @section.url %>/edit">Edit</a></p>
  <% end %>
</div>

<div class="col-4">
  <% unless @current_user.provisional? %>
  <div class="section outlined">
    <h2>Announcements</h2>

    <% if @current_user.advisor? %>
    <p><a href="/announcements/new">New Announcement</a></p>
    <% end %>

    <% @section.announcements.published.all(limit: 10).each do |announcement| %>
      <%= erb :'announcements/excerpt', layout: false, locals: {announcement:announcement} %>
    <% end %>
  </div>

  <div class="section">
    <p><a href="<%= @section.url %>/comments">Comments</a></p>
    <p><a href='mailto:<%= @section.students.map {|s| "#{s.netid}@nyu.edu"}.join(",") %>?cc=<%= @section.advisor.netid %>@nyu.edu,<%= @section.users.residents.map {|s| "#{s.netid}@nyu.edu"}.join(",") %>'>Email Students</a></p>
  </div>
  <% end %>
</div>

<div class="col-8">
  <div class="section">
  <% @section.students.all(order: :first_name.asc).each do |student| %>
    <div class="student-summary">
      <h3><a href="<%= student.url %>"><%= student %></a></h3>

      <ul class="quick-links">
        <% if @current_user.non_student? %><li><a href="/applications/<%= student.netid %>">Application</a></li><% end %>
        <li><a href="<%= student.url %>/progress">All <%= student.first_name %>'s Posts</a></li>
      </ul>

      <h6>Recent Posts</h6>
      <% student.posts.published.all(limit: 5).each do |post| %>
      <div class="post-feed">
        <a href="<%= post.url %>">
          <span class="date"><%= longdate post.published_at %> &nbsp;</span>
          <span class="title"><%= post.title %></span>

          <% if post.category %>
          <div class="category"><%= post.category %></div>
          <% end %>
          </a>
      </div>
      <% end %>
    </div>
  <% end %>

  </div>
</div>