<div class="dashboard-post">
  <h3><%= post.title %></h3>
  <h5 class="details"><em>by</em> <%= post.user %> on <span class="date"><%= post.published_at.strftime("%m/%d") %></span> <span class="category"><%= post.category %></span></h5>
  <div class="content">
    <%= excerpt post.content %>
    <a href="<%= post.public_url %>">Read</a>
  </div>
</div>
