<h3>
  <input type="text" name="post[title]" placeholder="Title of Post..." value="<%= @post.title == "Untitled" ? "" : @post.title %>"/>
</h3>

<div class="meta-form-elements">
<h6>Category</h6>
<fieldset class="button-labels">
  <% @categories.each do |category| %>
  <input type="radio" value="<%= category.id %>" name="post[category_id]" id="category-<%= category.id %>" <%= "checked" if @post.category == category %>>
  <label for="category-<%= category.id %>"><%= category.name %></label>
  <% end %>
</fieldset>

<h6>Assignments</h6>
<fieldset class="button-labels">

  <% if @post.assignment %>

  <input class="assignment-input"  type="radio" checked value="<%= @post.assignment_id %>" name="post[assignment_id]" id="assignment-<%= @post.assignment_id %>" data-brief="<%= @post.assignment.brief %>">
  <label for="assignment-<%= @post.assignment_id %>">
    <%= @post.assignment.title %>
  </label>

  <% end %>

  <input class="null-radio" value="" name="post[assignment_id]" type="radio">
  <% env['warden'].user.open_assignments.each do |assignment| %>

    <input class="assignment-input" type="radio" value="<%= assignment.id %>" name="post[assignment_id]" id="assignment-<%= assignment.id %>" <%= "checked" if @assignment &&  assignment.id.to_i == (@assignment.id || "").to_i %> data-brief="<%= assignment.brief %>">

    <label <%= "class=checked" if @assignment && assignment.id.to_i == (@assignment.id || "").to_i %> for="assignment-<%= assignment.id %>"><%= assignment.title %></label>
  <% end %>

</fieldset>
<div class="assignment-brief" ><%= "<h6>Brief</h6>"+@assignment.brief if @assignment %></div>
</div>

<h6>Content <span class="markdown-mark">&nbsp;</span></h6>
<div class="expanding-area">
  <pre><span></span><br></pre>
  <textarea placeholder="Write your post here..." name="post[content]"><%= @post.content %></textarea>
</div>

<p>To add an image, drag and drop the image inside the textbox. To embed videos, paste the embed code from whatever site you uploaded your video to.</p>

<div class="action-buttons">
  <button id="private" name="post[draft]" value="true">Draft</button>
  <button id="public" name="post[draft]" value="false">Public</button>
</div>