
<div class="col-3">
<% if @user %>
  <h2><a href="<%= @user.url %>"><%= @user %></a></h2>
  <a href="<%= @user.sections.first.url %>"><%= @user.sections.first.name %></a>
<% end %>
</div>

<div class="col-9">
  <% if @user %>
  <h1>Progress</h1>
  <% end %>
<% if @posts.length == 0 && @user %>
  <p><%= @user %> has no posts yet.</p>
<% end %>

<% @posts.each do |post| %>
  <div class="post">

    <h2>
      <a href="<%= post.url %>"><%= post.title %></a>
    </h2>

    <hgroup class="details">
      <h6><%= post.date.strftime("%m/%d") %>
        <span class="publish-state"><%= post.draft ? "Draft" : "Published" %></span>
      </h6>
      <span class="category"><%= post.category %></span>
      <a href="<%= post.url %>/edit">EDIT</a>
    </hgroup>

    <div class="post-content">
      <%= mdown(post.content || "") %>
    </div>

  </div>
<% end %>

<%= will_paginate @posts %>
</div>
