<div class="post">
  <h3><%= post.title %></h3>
  <h4 class="details">
    <% if @show_user %><em>by</em> <%= post.user %> on<% end %> <span class="date"><%= post.published_at.strftime("%m/%d") %></span> <span class="category"><%= post.category %></span>
  </h4>

  <div class="post-content">
    <%= mdown post.content %>
  </div>
</div>
