<div class="post">
  <h2><a href="<%= post.url %>"><%= post.title %></a></h2>
  <hgroup class="details">
    <h5>
      <% if @show_user %><em>by</em> <a href="<%= post.user.url %>"><%= post.user %></a> on<% end %>
      <span class="date"><%= post.published_at.strftime("%B %d") %></span>
    </h5>
    <h6 class="category"><%= post.category %></h6>
  </hgroup>

  <div class="post-content">
    <%= mdown post.content %>
  </div>

  <div class="post-footer">
    <%= post.comments.count %>
  </div>
</div>
