<div class="col-3">
  <%= erb :sidebar, layout: false, locals: {user: @user} %>
</div>

<div class="col-9">

  <%= erb :thesis, layout: false, locals: {:'@thesis' => @user.theses.last} %>

  <div class="col-8">

  <h4><a href="/students/<%= @user.netid %>/progress">Progress</a></h4>

  <% @categories.each do |category| %>

    <h6><%= category.name %></h6>

    <% @user.posts.all(:category_id => category.id, draft: false).each do |post| %>
    <%= erb :list, layout: false, locals: {post: post} %>
    <% end %>
  <% end %>
  </div>

</div>