<div class="col-3">
  <h2><a href="<%= @user.url %>"><%= @user %></a></h2>

  <% if env['warden'].user.advisor? %>
    <p><a href="/applications/<%= @user.netid %>">View Application</a></p>

    <h6><a href="<%= @user.sections.first.url %>"><%= @user.sections.first.name %></a></h6>
    <ul>
    <% @user.sections.first.students.each do |student| %>
    <li><a href="<%= student.url %>"><%= student %></a></li>
    <% end %>
    </ul>
  <% else %>
  <a href="<%= @user.sections.first.url %>"><%= @user.sections.first.name %></a>
  <% end %>
</div>

<div class="col-9">
  <h1>Progress</h1>

  <% if @drafts && @drafts.length > 0 %>
  <h6>Drafts</h6>
    <% @drafts.each do |draft| %>
    <div class="feed-item">
      <a href="<%= draft.url %>/edit"><div class="draft-icon draft">&nbsp;</div><%= draft.updated_at.strftime("%m/%d") %> <%= draft.title %></a>
    </div>
    <% end %>
  <% end %>

<% if @posts.length == 0 && @user %>
  <p><%= @user %> has no posts yet.</p>
<% end %>

<% @posts.each do |post| %>
  <%= erb :list, layout: false, locals: {post: post, :@show_user => true} %>
<% end %>

<%= will_paginate @posts %>
</div>
