<div class="col-3">
  <%= erb :sidebar, layout: false, locals: {user: @user} %>
</div>

<div class="col-9">
  <h2><a href="<%= @user.url %>/progress">Progress</a></h2>

  <ul class="category-list">
  <% Category.all.each do |c| %>
  <li><a <%= 'class="current"' if c == @category %> href="<%= @user.url %>/progress/<%= c.slug %>"><%= c.name %></a></li>
  <% end %>
  </ul>

  <% if @drafts && @drafts.length > 0 %>
  <h6>Drafts</h6>
    <% @drafts.each do |draft| %>
    <div class="feed-item">
      <span class="date"><%= longdate draft.updated_at %></span>
       &mdash; <%= draft.title %> &mdash;
      <span class="caption"><%= h draft.content[0..160] %>...</span>

      <a href="<%= draft.url %>/edit">Edit</a>
      <a class='delete-link' href="<%= draft.url %>/delete">Delete</a>
    </div>
    <% end %>
  <% end %>

<% if @posts.length == 0 && @user %>
  <p><%= @user %> has no posts yet.</p>
<% end %>

  <div class="posts">
  <% @posts.each do |post| %>
    <%= erb :single_list, layout: false, locals: {post: post} %>
  <% end %>
  </div>

<%= erb :'../../views/pagination', layout: false, locals: {collection: @posts} %>
</div>
