<div class="col-3">
  <%= erb :sidebar, layout: false, locals: {user: @user} %>
</div>

<div class="col-9">
  <h2>Thesis</h2>
  <% if @user == @current_user %>
  <a href="<%= @user.url %>/thesis/edit">Edit</a>
  <% end %>
</div>

<div class="col-6">
  <div class="spaced-row">
    <h6>Title</h6>
    <h3><%= @thesis.title %></h3>
  </div>

  <div class="spaced-row">
    <h6>Elevator Pitch</h6>
    <%= @thesis.elevator_pitch %>
  </div>

  <div class="spaced-row">
    <h6>Description</h6>
    <%= @thesis.description %>
  </div>

  <div class="spaced-row">
    <h6>Why You Want to Make This</h6>
    <%= @thesis.reason %>
  </div>

  <div class="spaced-row">
    <h6>Research Plan</h6>
    <%= @thesis.research_plan %>
  </div>

</div>

<div class="col-3">
  <div class="spaced-row">
  <h6>Image</h6>
  <img style="width: 100%;"src="<%= @thesis.image %>" />
  </div>

  <div class="spaced-row">
    <h6>URL</h6>
    <a href="<%= @thesis.link %>"><%= @thesis.link %></a>
  </div>
</div>

<% if @current_user.non_student? %>
<div class="col-9 float-right">
  <div class="feedback">
    <h4>Review</h4>
    <form class="feedback-form" action="/feedback/new" method="POST">
      <p>Your comments will not be viewable to any students.</p>
      <input type="hidden" name="feedback[reviewee_id]" value="<%= @user.id %>" />
      <div class="expanding-area">
        <pre><span></span><br></pre>
        <textarea id="new-feedback-textarea" placeholder="Provide constructive feedback (optional) ..." name="feedback[content]"></textarea>
      </div>
      <button class="thumb-down" name="feedback[thumbs_up]" value="false">Thumbs Down</button>
      <button class="thumb-up" name="feedback[thumbs_up]" value="true">Thumbs Up</button>
    </form>

    <% @feedback.each do |feedback| %>
    <div class="feedback-item <%= feedback.thumbs_up ? "thumbs-up" : "thumbs-down" %>">
      <div class="author"><%= feedback.reviewer %></div>
      <div>
      <%= mdown feedback.content %>
      </div>
      <% if feedback.reviewer == @current_user %>
      <form class="delete-button" action="/feedback/delete" method="post">
        <input type="hidden" value="<%= feedback.id %>" name="id"/>
        <button class="small">Delete</button>
      </form>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
