<div class="post-excerpt">
  <h3 class="title">
    <span class='date'><%= longdate post.published_at %></span> &mdash; <a href="<%= post.url %>"><strong><%= post.title %></strong></a>
  </h3>
  <h4 class="author"><a href="<%= post.user.url %>"><%= post.user %></a></h4>
  <h5 class="category"><%= post.category %></h5>

  <div class="post-content">
    <%= mdown post.content %>
  </div>

  <a class="permalink" href="<%= post.url %>">Read &amp; Comment</a>
</div>
