<div class="student-sidebar">
  <h1><a href="<%= user.url %>"><%= user %></a></h1>

  <ul>
    <li class="<%= "current" if @thesis %>"><a href="<%= user.url %>/thesis">Thesis Summary</a></li>
    <li class="<%= "current" if @post || @posts %>"><a href="<%= user.url %>/progress">Progress</a></li>
    <% if @current_user %>
      <li class="<%= "current" if @theses %>"><a href="<%= user.url %>/thesis/history">History</a></li>
      <li class="<%= "current" if @comments_by || @comments_to %>"><a href="<%= user.url %>/comments">Comments</a></li>
      <% if @current_user.non_student? %>
      <li><a href="/applications/<%= user.netid %>">Application</a></li>
      <% end %>
    <% end %>
  </ul>

  <% if env['warden'].authenticated? %>
  <h6><a href="<%= user.sections.first.url %>"><%= user.sections.first.name %></a></h6>
  <ul>
  <% user.sections.first.students.all(order: :first_name.asc).each do |student| %>
  <li><a href="<%= student.url %>"><%= student %></a></li>
  <% end %>
  </ul>
  <% end %>

</div>