<div class="col-3">
  <%= erb :'students/sidebar', layout: false, locals: {user: @user} %>
</div>

<div class="col-9">
  <div class="spaced-row">
    <h1><%= @thesis.title %></h1>
    <% if @user == @current_user #|| @current_user.advisor? %>
    <div style="float:right;"><a href="<%= @user.url %>/thesis/edit">Edit</a></div>
    <% end %>
  </div>

  <div class="spaced-row">
    <div class="elevator-pitch"><%= @thesis.elevator_pitch %></div>
  </div>

  <% if !@thesis.image.nil? && @thesis.image.length > 0 %>
  <div class="spaced-row">
  <a href="<%= @thesis.image %>" target="_blank"><img class="thesis-image" src="<%= @thesis.image %>" /></a>
  </div>
  <% end %>


  <div class="spaced-row">
    <h6>Description</h6>
    <div>
    <%= mdown @thesis.description %>
    </div>
  </div>

  <div class="spaced-row">
    <h6>Why You Want to Make This</h6>
    <%= mdown @thesis.reason %>
  </div>

  <div class="spaced-row">
    <h6>Research Plan</h6>
    <%= mdown @thesis.research_plan %>
  </div>

  <div class="spaced-row">
    <h6>URL</h6>
    <a class="thesis-link" href="<%= @thesis.link %>"><%= @thesis.link %></a>
  </div>

</div>

<% if @current_user && @current_user.non_student? %>
<div class="col-9 float-right">
  <p><a href="#" id="toggle-feedback">Show/Hide Feedback</a></p>
  <div class="feedback" style="display:none;">
    <h4>Review</h4>
    <form class="feedback-form" action="/feedback/new" method="POST">
      <p>Your comments will not be viewable to any students.</p>
      <input type="hidden" name="feedback[reviewee_id]" value="<%= @user.id %>" />
      <div class="expanding-area">
        <pre><span></span><br></pre>
        <textarea id="new-feedback-textarea" placeholder="Provide constructive feedback (optional) ..." name="feedback[content]"></textarea>
      </div>
      <input type="hidden" name="feedback[thesis_id]" value="<%= @thesis.id %>"/>
      <button class="thumb-down" name="feedback[thumbs_up]" value="false">Thumbs Down</button>
      <button class="thumb-up" name="feedback[thumbs_up]" value="true">Thumbs Up</button>
    </form>

    <% @feedback.each do |feedback| %>
    <div class="feedback-item <%= feedback.thumbs_up ? "thumbs-up" : "thumbs-down" %>">
      <div class="author"><%= feedback.reviewer %></div>
      <div>
      <%= mdown feedback.content %>
      </div>
      <% if feedback.reviewer == @current_user %>
      <form class="delete-button" action="/feedback/delete" method="post">
        <input type="hidden" value="<%= feedback.id %>" name="id"/>
        <button class="small">Delete</button>
      </form>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<% end %>

<script>
  $(document).ready(function () {
    $('#toggle-feedback').click(function () {
      $('.feedback').toggle();
      return false;
    });
  })
</script>
