<ul id="progress-category">
  <% @categories.each do |category| %>
  <input type="radio" value="<%= category.id %>" name="post[category]" id="category-<%= category.id %>">
  <label for="category-<%= category.id %>"><%= category.name %></label>
  <% end %>
</ul>

<input type="hidden" name="category"/>

<h3>
  <input type="text" name="post[title]" placeholder="Title of Post..." value="<%= @post.title %>"/>
</h3>

<div class="expanding-area">
  <pre><span></span><br></pre>
  <textarea placeholder="Write your post here..." name="post[content]"><%= @post.content %></textarea>
</div>

<div class="publish">
  <button id="private" name="post[private]" value="true">Draft</button>
  <button id="public" name="post[private]" value="false">Public</button>
</div>