<div class="quick-post col-8">
  <h3>
    New Post
  </h3>
  <form action="/progress/new" method="post">
    <div class="expanding-area">
      <pre><span></span><br></pre>
      <textarea placeholder="Write a post here. The first line will become the title." name="quickpost"></textarea>
    </div>

    <div class="grid-row">
      <ul class="category-buttons col-8 nested">
        &nbsp;
      </ul>
      <div class="col-4 nested tright">
          <button class="small" id="private" name="draft" value="true">Draft</button>
          <button class="small" id="public" name="draft" value="false">Public</button>
      </div>
    </div>

  </form>
</div>

<div class="announcements-feed col-4 float-right">
  <h3>Announcements</h3>

  <% @announcements.each do |announcement| %>
  <div class="excerpt">
    <h6><%= announcement.title %></h6>
    <div class="details">
      <p><%= announcement.published_at.strftime("%m/%d") %> — <%= announcement.user %></p>
      <p><%= list(announcement.sections, :name) %></p>
    </div>
    <div><%= excerpt(announcement.content) %>
      <br><a href="/announcements/<%= announcement.year %>/<%= announcement.issue %>">Read</a></div>
  </div>
  <% end %>
</div>

<div class="assignments-and-progress col-8">
  <h3>Open Assignments</h3>

  <h3>Student Progress</h3>
  <% @recent_posts.each do |post| %>
    <div>
      <h4><%= post.title %></h4>
      <h5><%= post.user %></h5>
      <div>
        <%= excerpt post.content %>
        <br><a href="#">Read</a>
      </div>

    </div>
  <% end %>
</div>
