<h2>Your Assignments</h2>

<% if env['warden'].user.role == 'advisor' %>
<a href="/assignments/new">Create A New Assignment</a>
<% end %>

<% @assignments.own(env['warden'].user).each do |assignment| %>
<div>
  <h4><%= assignment.title %></h4>

  <div class="meta">
    <span class="due"><%= "Due: " + assignment.due_at.strftime("%m/%d/%y") if assignment.due_at %></span>
    <% if env['warden'].user.advisor? %>
    <a href="/assignments/<%= assignment.year %>/<%= assignment.id %>/edit">Edit</a>
    <% end %>
    <ul>
      <% assignment.sections.each do |section| %>
      <li><%= section.name %></li>
      <% end %>
    </ul>
  </div>

  <div>
    <%= assignment.brief %>
  </div>
</div>
<% end %>