<div class="col-12">
<h2>Your Assignments</h2>
</div>

<div class="col-9">
<% if @current_user.advisor? %>
<a href="/assignments/new">Create A New Assignment</a>
<% end %>

  <% if @assignments.length == 0 %>
  <% if request.path.match(/assignments\/?$/) %>
  <p>There are no assignments :(</p>
  <% else %>
  <p>There aren't this many pages of assignments. <a href="/assignments">Go to the first page</a>.</p>
  <% end %>
<% else %>
  <% @assignments.each do |assignment| %>
  <div class='announcement'>
    <hgroup>
      <h6><%= assignment.created_at.strftime("%m/%d/%y") %></h6>
      <h2><a href="<%= assignment.url %>"><%= assignment.title %></a></h2>
      <h3 class="author"><em>by</em> <%= assignment.user %></h3>
      <% if assignment.everyone %>
      Everyone
      <% else %>
      <%= list( assignment.sections, {:attribute => :name, :default => "all sections"}) %>
      <% end %>
    </hgroup>

    <div>
      <%= mdown assignment.brief %>
    </div>
  </div>
  <div class="hr"></div>
  <% end %>
<% end %>

<%= will_paginate @assignments %>
</div>