<div class="col-12">
  <h1 class="page-title"><a href="/assignments">Assignments</a></h1>
</div>

<div class="col-12">
<h2><%= @assignment.title %></h2>

<div>
  <%= mdown @assignment.brief %>
</div>

<h6>Responses</h6>

<% @assignment.posts.all(draft: false).each do |post| %>
  <div class="post">
    <h3><%= post.user %></h3>
    <h4><a href="<%= post.url %>"><%= post.title %></a> on <span class="date"><%= post.published_at.strftime("%m/%d") %></span> <span class="category"><%= post.category %></span></h4>
    <div class="content">
      <%= mdown post.content %>
    </div>
  </div>
<% end %>
</div>