<div class="col-12">
  <h1 class="page-title"><a href="/assignments">Assignments</a></h1>
</div>

<div class="col-12">
  <div class="assignment single">
  <div class="hgroup">
    <h1><%= @assignment.title %></h1>
    <h2 class="author"><em>by</em> <%= @assignment.user %></h2>
    <h3 class="date"><%= longdate @assignment.created_at %></h3>
    <h4><% if @assignment.everyone %>
      Everyone
      <% else %>
      <%= list( @assignment.sections, {:attribute => :name, :default => "all sections"}) %>
      <% end %>
    </h4>
  </div>

  <p><% if @current_user.advisor? %><a href="<%= @assignment.url %>/edit">Edit</a> <a class="delete-link" href="<%= @assignment.url %>/delete">Delete</a><% end %></p>

  <div class="assignment-content">
    <%= mdown @assignment.brief %>
  </div>
</div>


<div class="section">
  <h2>Responses</h2>
<% @assignment.posts.all(draft: false).each do |post| %>
  <%= erb :'students/list', layout: false, locals: {post: post} %>
<% end %>
</div>
</div>