<!DOCTYPE html>
<html>
<head>
  <title>Thesis</title>
  <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css">
  <link rel="stylesheet" href="/css/main.css" type="text/css">

  <link rel="stylesheet" href="/css/thesis.css" type="text/css">
  <link rel="stylesheet" href="/css/grid.css" type="text/css">
  <link rel="stylesheet" href="/css/print.css" type="text/css">
  <link rel="stylesheet" href="/css/chosen.css" type="text/css">

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Lato:400,700|Source+Code+Pro' rel='stylesheet' type='text/css'>
  <script src="/javascripts/jquery.js" type="text/javascript"></script>
  <script src="/javascripts/chosen.jquery.js" type="text/javascript"></script>
  <script src="/javascripts/jquery-ui.js" type="text/javascript"></script>
  <script src="/javascripts/underscore.js" type="text/javascript"></script>
  <script src="/javascripts/expandingtextarea.js" type="text/javascript"></script>
  <script src="/javascripts/main.js" type="text/javascript"></script>
</head>
<body>
  <div id="top">
    <div id="header" class="grid-wrapper">
      <div class="col-2">
      <a href="/"><img src="/images/logo_maybe_oneline.png" alt="ITP THESIS" /></a>
      </div>
      <div id="main-nav" class="col-6">
        <ul>
          <li><a href="/announcements">Announcements</a></li>
          <li><a href="/requirements">Requirements</a></li>
        </ul>
      </div>

      <div id="account-nav" class="col-4">
      <% if env['warden'].authenticated? %>
        <ul>
          <% if env['warden'].advisor? %>
          <li><a href="/class">My Classes</a></li>
          <li><a href="/announcements/new" class="new-post-link">&nbsp;</a></li>
          <% else %>
          <li><a href="/thesis">Thesis</a></li>
          <li><a href="/progress">Progress</a></li>
          <li><a href="/class">My Class</a></li>
          <li><a href="/progress/new" class="new-post-link">&nbsp;</a></li>
          <% end %>
          <li><%= env['warden'].user.netid %></li>
          <li><a href="/session/logout">Log Out</a></li>
        </ul>
      <% else %>
        <a href="/session/login">Log In</a>
      <% end %>
      </div>
      <div style="clear:both;height:0;">&nbsp;</div>
    </div>
  </div>

  <div id="middle" class="grid-wrapper">
    <div id="flash"><% [:error, :success].each do |name| %><% if flash.has?(name) %>
    <div class="message-<%= name %>"><%= flash[name] %></div>
  <% end %><% end %>
  </div>

    <div id="main-content" class="col-page">
    <%= yield %>
    </div>

<%= erb :'../../views/markdown', layout: false %>
  </div>

  <div id="bottom">
    <div id="footer">
      Please report any bugs to Steve Klise: sk3453@nyu.edu
    </div>
  </div>
</body>
</html>