<!DOCTYPE html>
<html>
<head>
  <title>Thesis</title>
  <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css">
  <link rel="stylesheet" href="/css/main.css" type="text/css">

  <link rel="stylesheet" href="/css/thesis.css" type="text/css">
  <link rel="stylesheet" href="/css/grid.css" type="text/css">
  <link rel="stylesheet" href="/css/print.css" type="text/css">
  <link rel="stylesheet" href="/css/chosen.css" type="text/css">

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Lato:400,700|Source+Code+Pro' rel='stylesheet' type='text/css'>
  <script src="/javascripts/jquery.js" type="text/javascript"></script>
  <script src="/javascripts/chosen.jquery.js" type="text/javascript"></script>
  <script src="/javascripts/jquery-ui.js" type="text/javascript"></script>
  <script src="/javascripts/underscore.js" type="text/javascript"></script>
  <script src="/javascripts/string.min.js" type="text/javascript"></script>
  <script src="/javascripts/handlebars.js" type="text/javascript"></script>
  <script src="/javascripts/moment.js" type="text/javascript"></script>
  <script src="/javascripts/main.js" type="text/javascript"></script>
  <script src="/javascripts/image_upload.js" type="text/javascript"></script>
</head>

<body <% if env['warden'].authenticated? %>data-netid="<%= env['warden'].user.netid %>"<% end %>>

  <div id="top">
    <div id="header" class="grid-wrapper">
      <div class="col-6">

        <a href="/"><img id="logo" src="/images/thesis.png" alt="ITP THESIS" /></a>

        <ul id="main-nav">
          <% Page.all.each do |page| %>
          <li><a href="/<%= page.slug %>"><%= page.title %></a></li>
          <% end %>
        </ul>

      </div>

      <div id="account-nav" class="col-6">
      <% if env['warden'].authenticated? %>
        <ul>
          <% if env['warden'].user.advisor? %>
          <% env['warden'].user.sections.each do |section| %>
          <li><a href="<%= section.url %>"><%= section.name %></a></li>
          <% end %>
          <li><a href="/page/new">New Page</a></li>
          <li><a href="/announcements/new">New Announcement</a></li>
          <% else %>
          <li><a href="/students/<%= env['warden'].user.netid %>/thesis">Thesis</a></li>
          <li>
            <a href="/students/<%= env['warden'].user.netid %>/progress">Progress</a>
          </li>
          <li>
            <a href="<%= env['warden'].user.sections.first.url %>">My Class</a>
          </li>
          <li><a href="/students/new" class="new-post-link">&nbsp;</a></li>
          <% end %>
          <li class="username"><%= env['warden'].user.first_name %></li>
          <li><a href="/session/logout" title="log out" id="logout-link">&nbsp;</a></li>
        </ul>
      <% else %>
        <a href="/session/login">Log In</a>
      <% end %>
      </div>
      <div style="clear:both;height:0;">&nbsp;</div>
    </div>
  </div>

  <div id="middle" class="grid-wrapper">
    <div id="flash" class="col-12"><% [:error, :success].each do |name| %><% if flash.has?(name) %>
    <div class="message-<%= name %>"><%= flash[name] %></div>
  <% end %><% end %>
  </div>

    <div id="main-content" class="col-page">
    <%= yield %>
    </div>

<%= erb :'../../views/markdown', layout: false %>
  </div>

  <div id="bottom">
    <div id="footer">
      <div class="col-12">
        <p>Please report any bugs to Steve Klise: sk3453@nyu.edu</p>
        <p>You can also write a bug report <a href="https://github.com/stevenklise/itp-thesis-progress/issues">here</a>.</p>
      </div>
    </div>
  </div>
</body>
</html>