<div class="col-12">
  <h1 class="page-title">Announcements</h1>
</div>

<div class="col-9">

  <% if @drafts %>
  <div class="section">
    <h2>Drafts</h2>
    <% @drafts.each do |draft| %>
    <div class="feed-item">
      <span class="date"><%= longdate draft.updated_at %></span>
       &mdash; <%= draft.title %> &mdash;
      <span class="caption"><%= (draft.content || "")[0..160] %>...</span>

      <a href="<%= draft.url %>/edit">Edit</a>
    </div>
    <% end %>
  </div>
  <% end %>

<% if @announcements.length == 0 %>
  <% if request.path.match(/announcements\/?$/) %>
  <p>There are no announcements :(</p>
  <% else %>
  <p>There aren't this many pages of announcements. <a href="/announcements">Go to the first page</a>.</p>
  <% end %>
<% else %>
  <% @announcements.each do |announcement| %>
  <div class='announcement'>
    <hgroup>
    <h1><a href="<%= announcement.url %>"><%= announcement.title %></a></h1>
    <h2 class="author"><em>by</em> <%= announcement.user %></h2>
    <h3 class="date"><%= longdate(announcement.published_at || announcement.updated_at) %></h3>
    <h4><% if announcement.everyone %>
      'Everyone'
      <% else %>
      <%= list( announcement.sections, {:attribute => :name, :default => "all sections"}) %>
      <% end %>
    </h4>
    </hgroup>

    <div class="announcement-content">
    <%= mdown(announcement.content) %>
    </div>
  </div>
  <% end %>
<% end %>

<%= erb :pagination, layout: false, locals: {collection: @announcements} %>
</div>

<div class="col-3">
  <%= erb :'announcements/section_list', layout: false %>
</div>
