<div class="col-12">
  <h1 class="page-title"><a href="/announcements">Announcements</a></h1>
</div>

<div class='col-9'>
<div class="announcement single">
  <% if @current_user.admin? %>
    <p class="published"><%= @announcement.draft ? "Draft" : "Published" %></p>
    <p><a href="<%= @announcement.edit_url %>">Edit</a> <a class='delete-link' href="<%= @announcement.url %>/delete">Delete</a></p>
  <% end %>

  <div class="hgroup">
  <h1><%= @announcement.title %></h1>
  <h2 class="author"><em>by</em> <%= @announcement.user %></h2>
  <h3 class="date"><%= longdate(@announcement.published_at || @announcement.updated_at) %></h3>
  <h4><% if @announcement.everyone %>
    'Everyone'
    <% else %>
    <%= list( @announcement.sections, {:attribute => :name, :default => "all sections"}) %>
    <% end %>
  </h4>
  </div>

  <div class="announcement-content">
    <%= mdown(@announcement.content) %>
  </div>
</div>
</div>

<div class="col-3">
  <%= erb :'announcements/section_list', layout: false %>
</div>