<div class="excerpt">
  <div class="title"><a href="/announcements/<%= announcement.year %>/<%= announcement.issue %>"><%= announcement.title %></a></div>
  <div class="date"><%= longdate announcement.published_at %> — <%= announcement.user %></div>
</div>