<div class="col-12">
  <h1>Announcements</h1>
</div>

<div class="col-9">
<% if @announcements.length == 0 %>
  <% if request.path.match(/announcements\/?$/) %>
  <p>There are no announcements :(</p>
  <% else %>
  <p>There aren't this many pages of announcements. <a href="/announcements">Go to the first page</a>.</p>
  <% end %>
<% else %>
  <% @announcements.each do |announcement| %>
  <div class='announcement'>
    <hgroup>
      <h6><%= announcement.published_at.strftime("%m/%d/%y") %></h6>
      <h2><a href="/announcements/<%= announcement.year %>/<%= announcement.issue %>"><%= announcement.title %></a></h2>
      <h3 class="author"><em>by</em> <%= announcement.user %></h3>
      <ul>
      <% announcement.sections.each do |section| %>
        <li><%= section.name %></li>
      <% end %>
      </ul>
    </hgroup>

    <div>
      <%= mdown announcement.content %>
    </div>
  </div>
  <div class="hr"></div>
  <% end %>
<% end %>

<%= will_paginate @announcements %>
</div>

<div class="col-3">
  <%= erb :section_list, layout: false %>
</div>
