<h1>Announcements</h1>

<div class="announcement">

<hgroup>
<h6>Posted on <%= @announcement.published_at.strftime("%B %d, %Y") %> to <%= list @announcement.sections, {:attribute => :name, :default => "all sections"} %></h6>
<h2><%= @announcement.title %></h2>
<h3 class="author"><em>by</em> <%= @announcement.user %></h3>
</hgroup>

<div><%= mdown(@announcement.content) %></div>
</div>