<div class="col-3">
  <h1 class="page-title">
    <a href="/sections">Sections</a>: <a class="blue" href="<%= @section.url %>"><%= @section.name %></a> Comments
  </h1>
  <% if @current_user.advisor? %>
  <p><a href="<%= @section.url %>/edit">Edit</a></p>
  <% end %>

  <div class="section student-sidebar">
    <h3>Comments by Student</h3>

    <ul>
      <% @section.students.each do |student| %>
      <li><a href="<%= student.url %>/comments"><%= student %></a></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="col-9">
  <div class="section">
    <% if @comments.length == 0 %>
    <p>No comments yet.</p>
    <% end %>

    <% @comments.each do |comment| %>
    <div class="feed-item with-icon">
      <div class="comment-icon <%= comment.read ? "cread" : "ctext" %>">&nbsp;</div>
      <a href="<%= comment.user.url %>"><%= comment.user %></a>
      <% if comment.read %>
      read
      <% else %>
      commented on
      <% end %>
      <a href="<%= comment.post.url %>"><%= comment.post.title %></a> on <span class="date"><%= longdate comment.created_at %></span>
    </div>
    <% end %>

    <%= erb :'../../views/pagination', layout: false, locals: {collection: @comments} %>
  </div>
</div>