<div class="col-12">
  <h1 class="page-title">Sections</h1>
</div>

<% @sections.each_with_index do |section,i| %>
  <div class="section-list col-3" <% if i % 4 == 0 %>style="clear:left;"<% end %> >
    <h3>
      <a href="<%= section.path %>"><%= section.name %></a>
    </h3>
    <p>
      <%= section.advisor %>
    </p>
    <ul style="list-style-type: none;margin:0 0 1.5em;">
      <% section.students.all(order: :first_name.asc).each do |student| %>
      <li><a href="<%= student.url %>"><%= student %></a></li>
      <% end %>
    </ul>
  </div>
<% end %>