<div class="col-12">
  <h1 class="page-title">Sections</h1>
  <% if @current_user.non_student? %>
  <a id="toggle-thumbs" href="#">Toggle Thumbs Up/Down</a>
  <% end %>
</div>

<script>
  $(document).ready(function () {
    $('#toggle-thumbs').click(function () {
      $('span.thumb-indicator').toggle();
      return false;
    });
  })
</script>

<% @sections.each_with_index do |section,i| %>
  <div class="section-list col-3" <% if i % 4 == 0 %>style="clear:left;"<% end %> >
    <h3>
      <a href="<%= section.path %>"><%= section.name %></a>
    </h3>
    <p>
      <%= section.advisor %>
    </p>
    <ul style="list-style-type: none;margin:0 0 1.5em;">
      <% section.students.all(order: :first_name.asc).each do |student| %>
      <li><a href="<%= student.url %>"><%= student %></a>
        <% if @current_user.non_student? %>
          <% if (tu = student.received_feedbacks.active.all(thumbs_up: true).count) >= 1 %>
          <span class="thumb-indicator thumbs-up"><%= tu %></span>
          <% end %>
          <% if (tu = student.received_feedbacks.active.all(thumbs_up: false).count) >= 1 %>
          <span class="thumb-indicator thumbs-down"><%= tu %></span>
          <% end %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>