<div class='col-12'>
  <h1 class="page-title"><a href="/sections">Sections</a></h1>
</div>
<div class="col-3">
  <h3><%= @section.name %></h3>

  <h4>Assignments</h4>
  <% @section.assignments.each do |assignment| %>
  <div class="feed-item">
    <a href="/assignments/<%= assignment.year %>/<%= assignment.id %>"><%= assignment.title %></a>
  </div>
  <% end %>

  <h4>Students</h4>
  <ul>
  <% @section.students.each do |student| %>
    <li><a href="<%= student.url %>"><%= student %></a></li>
  <% end %>
  </ul>

  <h4>Announcements</h4>

  <% @section.announcements.paginate(:page => 1, order: :published_at.desc).each do |announcement| %>
    <%= erb :'../../announcements/views/excerpt', layout: false, locals: {announcement:announcement} %>
  <% end %>

</div>

<div class="col-9">
  <% @section.students.all(order: :first_name.asc).each do |student| %>
  <h4><%= student %></h4>
    <% student.posts(order: :published_at.desc, limit: 5).each do |post| %>
    <div class="feed-item">
    <a href="<%= post.url %>"><%= post.title %></a> <span class="category"><%= post.category %></span> <span class="date"><%= post.published_at.strftime("%B %d") %></span>
    </div>
    <% end %>
    <div class="feed-item">
      <a href="<%= student.url %>/progress">All <%= student.first_name %>'s Posts</a>
    </div>
  <% end %>
</div>