<div class='col-12'>
  <h1 class="page-title">
    <a href="/sections">Sections</a>: <%= @section.name %>
  </h1>
  <% if @current_user.advisor? %>
  <p><a href="<%= @section.url %>/edit">Edit</a></p>
  <% end %>
</div>

<div class="col-3">
  <div class="section">
    <h2>Assignments</h2>
    <% if @current_user.advisor? %>
    <p><a href="/assignments/new">New Assignment</a></p>
    <% end %>

    <% @section.assignments.published.each do |assignment| %>
    <div class="feed-item">
      <span class="date"><%= longdate assignment.created_at %></span> &mdash; <a href="/assignments/<%= assignment.year %>/<%= assignment.id %>"><%= assignment.title %></a>
    </div>
    <% end %>
  </div>

  <div class="section">
    <h2>Announcements</h2>

    <% if @current_user.advisor? %>
    <p><a href="/announcements/new">New Announcement</a></p>
    <% end %>

    <% @section.announcements.published.all(limit: 10).each do |announcement| %>
      <%= erb :'../../announcements/views/excerpt', layout: false, locals: {announcement:announcement} %>
    <% end %>
  </div>

  <div class="section">
    <a href="<%= @section.url %>/comments">Comments</a>
  </div>
</div>

<div class="col-9">
  <div class="section">
    <h2>Students</h2>

    <% @section.students.all(order: :first_name.asc).each do |student| %>
    <div class="student-summary">
    <h3><a href="<%= student.url %>"><%= student %></a></h3>

    <ul class="quick-links">
      <% if @current_user.non_student? %><li><a href="/applications/<%= student.netid %>">Application</a></li><% end %>
      <li><a href="<%= student.url %>/progress">All <%= student.first_name %>'s Posts</a></li>
    </ul>

    <h6>Recent Posts</h6>
      <% student.posts.published.all(limit: 5).each do |post| %>
      <div class="feed-item">
      <a href="<%= post.url %>"><%= post.title %></a> <span class="category"><%= post.category %></span> <span class="date"><%= longdate post.published_at %></span>
      </div>
      <% end %>
    </div>
    <% end %>

  </div>
</div>