<div class="col-8">
  <% if @drafts %>
  <div class="section">
    <h2>Drafts</h2>
    <% @drafts.each do |draft| %>
    <div class="feed-item">
      <span class="date"><%= longdate draft.updated_at %></span>
       &mdash; <a href="<%= draft.url %>"><%= draft.title %></a> &mdash;
      <span class="caption"><%= h (draft.content || "")[0..160] %>...</span>

      <a href="<%= draft.url %>/edit">Edit</a>
      <a class='delete-link' href="<%= draft.url %>/delete">Delete</a>
    </div>
    <% end %>
  </div>
  <% end %>

  <div class="section">
    <h2>Activity on Your Posts</h2>

    <% if @comments.length == 0 %>
    <p>No comments yet.</p>
    <% end %>

    <% @comments.each do |comment| %>
    <%= erb :'comment-feed', layout: false, locals: {comment: comment} %>
    <% end %>

  </div>

  <div class="section">

    <h2><a href="<%= @current_user.sections.first.url %>"><%= @current_user.sections.first.name %></a>, Recent Posts</h2>

    <% @recent_posts.each do |post| %>
      <%= erb :'students/excerpt', layout: false, locals: {post:post} %>
    <% end %>

  </div>
</div>

<div class="col-4">

  <div class="section">
    <h2><a href="/announcements">Announcements</a></h2>

    <% @announcements.each do |announcement| %>
    <% next if (announcement.sections & @current_user.sections).length == 0 && announcement.sections.length != 0 %>
    <%= erb :'announcements/excerpt', layout: false, locals: {announcement:announcement, :@show_sections => true} %>
    <% end %>
  </div>

  <div class="section">
    <h2>Information</h2>
    <% Page.all.each do |page| %>
      <p><a href="/<%= page.slug %>"><%= page.title %></a></p>
    <% end %>
  </div>
</div>