<div class="col-4 float-right">

  <div class="section">
    <h2><a href="/announcements">Announcements</a></h2>

    <p><a href="/announcement/new">New Announcement</a></p>

    <% @announcements.each do |announcement| %>
    <% next if (announcement.sections & @current_user.sections).length == 0 && announcement.sections.length != 0 %>
    <%= erb :'../../announcements/views/excerpt', layout: false, locals: {announcement:announcement, :@show_sections => true} %>
    <% end %>
  </div>


  <div class="section">
    <h2>Information</h2>
    <% Page.all.each do |page| %>
      <p><a href="/<%= page.slug %>"><%= page.title %></a></p>
    <% end %>
  </div>
</div>

<div class="col-8">
  <h2>Your Sections</h2>
</div>

<% @sections.each do |section| %>

<div class="col-4 section-list">
  <h3><a href="<%= section.url %>"><%= section.name %></a></h3>
  <ul>
  <% section.users.students.each do |student| %>
    <li><a href="<%= student.url %>"><%= student %></a></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="col-8" style="clear:left;">
  <% if @drafts %>
  <div class="section">
    <h2>Drafts</h2>
    <% @drafts.each do |draft| %>
    <div class="feed-item">
      <span class="date"><%= longdate draft.updated_at %></span>
       &mdash; <%= draft.title %> &mdash;
      <span class="caption"><%= draft.content[0..160] %>...</span>

      <a href="<%= draft.url %>/edit">Edit</a>
    </div>
    <% end %>
  </div>
  <% end %>

  <div class="section">
    <h2>Comments on Posts in Your Sections</h2>
    <% @comments.each do |comment| %>
    <div class="feed-item with-icon">
      <div class="comment-icon <%= comment.read ? "cread" : "ctext" %>">&nbsp;</div>
      <a href="<%= comment.user.url %>"><%= comment.user %></a>
      <% if comment.read %>
      read
      <% else %>
      commented on
      <% end %>
      <a href="<%= comment.post.url %>"><%= comment.post.title %></a> by <a href="<%= comment.post.user.url %>"><%= comment.post.user %></a> on <span class="date"><%= longdate comment.created_at %></span>
    </div>
    <% end %>
  </div>

  <div class="section">
    <h2>Assignments</h2>
    <p><a href="/assignments/new">New Assignment</a></p>

    <% @sections.assignments.all(order: :created_at.desc).each do |assignment| %>
    <div class="assignment-list">
      <h3 class="title"><span class="date"><%= longdate assignment.created_at %></span> &mdash; <strong><a href="<%= assignment.url %>"><%= assignment.title %></a></strong></h3>
      <div><%= mdown assignment.brief %></div>
    </div>
    <% end %>
  </div>
</div>

<div class="col-8">
  <h2>Recent Posts</h2>
  <% @sections.users.students.posts.all(draft: false, order: :published_at.desc, limit: 10).each do |post| %>
  <div class="feed-item">
    <span class="date"><%= longdate post.published_at %></span> &mdash; <%= post.user %> <a href="<%= post.url %>"><%= post.title %></a>
  </div>
  <% end %>
</div>