<div class="quick-post col-8">
  <h2>
    <a href="progress/new">New Post</a> <span class="markdown-mark">&nbsp;</span>
  </h2>
  <form action="/progress/new" method="post">
    <div class="expanding-area">
      <pre><span></span><br></pre>
      <textarea placeholder="Write a post here. The first line will become the title." name="quickpost"></textarea>
    </div>

    <ul class="category-buttons col-8 nested">
    </ul>
    <div class="col-4 nested tright">
        <button class="small" id="private" name="draft" value="true">Draft</button>
        <button class="small" id="public" name="draft" value="false">Public</button>
    </div>

  </form>
</div>

<div class="announcements-feed col-4 float-right">
  <h2><a href="/announcements">Announcements</a></h2>

  <p>Recent announcements to your class or to the entire year.</p>

  <% @announcements.each do |announcement| %>
  <% next if (announcement.sections & env['warden'].user.sections).length == 0 && announcement.sections.length != 0 %>
  <%= erb :'../../announcements/views/excerpt', layout: false, locals: {announcement:announcement, :@show_sections => true} %>
  <% end %>
</div>

<div class="col-8">
  <div class="section">
    <h2>Assignments</h2>
    <% @assignments.each do |assignment| %>
    <div class="excerpt">
      <div class="date"><%= assignment.created_at.strftime("%B %d") %></div>
      <div class="title"><strong><%= assignment.title %></strong></div>
      <div><%= mdown assignment.brief %></div>
    </div>
    <% end %>
  </div>

  <div class="section">
    <h2>Comments on Your Posts</h2>
    <% @comments.each do |comment| %>
    <div class="excerpt">
      <%= comment.user %> on <%= comment.post.title %> <span class="float-right"><%= comment.created_at.strftime("%m/%d") %>
    </div>
    <% end %>
  </div>

  <div class="section">
    <h2>Student Progress</h2>
    <% @recent_posts.each do |post| %>
      <%= erb :'../../progress/views/excerpt', layout: false, locals: {post:post} %>
    <% end %>
  </div>
</div>
