<div class="quick-post col-8">
  <h2>
    <a href="students/new">New Post</a> <span class="markdown-mark">&nbsp;</span>
    <a class='normal-size float-right' href="/progress">Your Posts</a>
  </h2>
  <form action="/students/new" method="post">
    <div class="expanding-area">
      <pre><span></span><br></pre>
      <textarea placeholder="Write a post here. The first line will become the title." name="quickpost"></textarea>
    </div>

    <ul class="category-buttons col-8 nested">
    </ul>
    <div class="col-4 nested tright">
        <button class="small" id="private" name="draft" value="true">Draft</button>
        <button class="small" id="public" name="draft" value="false">Public</button>
    </div>

  </form>
</div>

<div class="announcements-feed col-4 float-right">
  <h2><a href="/announcements">Announcements</a></h2>

  <p>Recent announcements to your class or to the entire year.</p>

  <% @announcements.each do |announcement| %>
  <% next if (announcement.sections & env['warden'].user.sections).length == 0 && announcement.sections.length != 0 %>
  <%= erb :'../../announcements/views/excerpt', layout: false, locals: {announcement:announcement, :@show_sections => true} %>
  <% end %>
</div>

<div class="col-8">
  <div class="section">

    <h2>Open Assignments</h2>

    <p><a href="/assignments">View all assignments</a></p>
    <% @assignments.each do |assignment| %>
    <div class="dashboard-post">
      <div class="date"><%= assignment.created_at.strftime("%B %d") %></div>
      <h3 class="title"><strong><%= assignment.title %></strong></h3>
      <div><%= mdown assignment.brief %></div>
      <div><a href="/students/new?assignment_id=<%= assignment.id %>">Write a post for this assignment</a></div>
    </div>
    <% end %>

  </div>

  <div class="section">

    <h2>Comments on Your Posts</h2>

    <% @comments.each do |comment| %>
    <div class="feed-item">
      <a href="<%= comment.user.url %>"><%= comment.user %></a> commented on <a href="<%= comment.post.url %>"><%= comment.post.title %></a> <span class="date"><%= comment.created_at.strftime("%m/%d") %>
    </div>
    <% end %>

  </div>

  <div class="section">
    <h2><%= env['warden'].user.sections.first.name %>, Recent Posts</h2>

    <% @recent_posts.each do |post| %>
      <%= erb :'../../students/views/excerpt', layout: false, locals: {post:post} %>
    <% end %>
  </div>
</div>
